@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&family=Teko:wght@600&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #1F1517;
    color: #FFF;
}
html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
}
